.member,
header {
    text-align: center;
}

header h1 {
    margin: 5rem 0;
}

.member,
img {
    border-radius: 10px;
}

img {
    object-fit: cover;
}

main,
.member {
    display: flex;
    flex-direction: column;
}

main {
    padding-bottom: 5rem;
    row-gap: 2rem;
}

.member {
    border: 1px solid black;
    align-self: center;
    width: 70%;
}

.member img {
    padding: 0 .5rem;
}

@media (max-width: 675px) {
    .member {
        width: 85%;
    }
}

@media (min-width: 992px) {
    .member {
        align-items: center;
        width: 30rem;
    }
    .member img {
        min-width: 20rem;
        max-height: 20rem;
    }
    main {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 2rem;
        justify-content: space-evenly;
    }
}