:root {
    --main-bg-color: #a6e5b3;
}

h1,
main h2,
#introduction {
    text-align: center;
}

header {
    padding: 10rem 0;
    color: white;
    background: linear-gradient( to bottom, rgba(166, 229, 179, 0) 70%, rgba(166, 229, 179, 1)), url("../img/three-green-assorted-plants-in-white-ceramic-pots-776656.jpg") no-repeat center center;
    background-size: cover;
}

#title {
    font-size: 4rem;
    border-radius: 40px;
    margin: 0 auto;
    width: 80%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#features {
    color: #137547;
}

section {
    padding: 2rem 3rem;
    text-align: justify;
}

#introduction {
    background-color: var(--main-bg-color);
}


/* Introduction Section  styling */

#introduction h2 {
    padding: 1rem 0 3rem 0;
}

#introduction {
    padding-bottom: 4rem;
}

#introduction img {
    width: 100%;
    height: 25rem;
    border-radius: 10px;
    object-fit: cover;
}

#introduction p {
    margin-bottom: 3rem;
}


/* Features Section Styling */

#features {
    padding-bottom: 10rem;
}

#features h2 {
    margin: 5rem 0;
}

#feature-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#feature-container article h3 {
    text-align: center;
    margin-top: 1rem;
}

#feature-container article {
    margin-top: 2rem;
}

#features img {
    max-height: 20rem;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

main {
    padding-bottom: 2rem;
}

@media (min-width: 992px) {
    section {
        padding: 2rem 10rem;
    }
    .feature {
        display: flex;
        column-gap: 3rem;
        align-items: center;
    }
    .feature:nth-child(2n) {
        flex-direction: row-reverse;
    }
    section#introduction {
        padding: 5rem 20rem;
    }
    #features img {
        min-width: 20rem;
        min-height: 20rem;
    }
}

@media (min-width: 1112px) {
    #feature-container {
        row-gap: 4rem;
    }
    #features img {
        min-width: 25rem;
        max-width: 40rem;
        min-height: 20rem;
    }
    #features .text-container {
        margin: 0 auto;
        min-width: 20rem;
        max-width: 40rem;
    }
    #title {
        font-size: 5rem;
    }
    #introduction h2 {
        font-size: 3rem;
    }
    #introduction p {
        font-size: 1.25rem;
        margin: 0 auto 2rem;
        width: 70%;
    }
}