@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	font-family: 'Source Sans Pro', sans-serif;
	box-sizing: border-box;
}

:root {
	--navbar-bg-color: #5bba6f;
}

.navbar {
	background-color: var(--navbar-bg-color);
}

.navbar-nav {
	display: grid;
	row-gap: 1rem;
	margin: 1rem auto;
	width: 80%;
}

.nav-item {
	border-radius: 5px;
	border: 1px solid black;
	
	padding: .1rem;

	text-align: center;
	font-size: 1.25rem;
}

footer {
	background-color: darkgreen;
	padding: 1rem 2rem;
	
	color: white;
}

footer p {
	margin: 0;
}

@media(min-width:992px) {
	
		.navbar-nav {
			display: grid;
			grid-auto-flow: column;
			column-gap: 1rem;
			margin: 0;
			width: 30rem;
		}
		
		.nav-item {
			font-size: 1rem;
	}
}